<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyAppClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoPlayer"
        tools:targetApi="31">
        <activity
            android:name=".easypasscodelock.Activities.SecurityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="uiMode|screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".activity.FolderVideoItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".easypasscodelock.Activities.LockscreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>